@font-face {
    font-family: "Montserrat-Light";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  }
  @font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  }
  @font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  h3 {
    margin: 0 0 10px 0;
    color: rgb(58, 58, 58);
    padding: 0;
    align-self: center;
    font-family: Montserrat-Medium;
  }
  
  button:focus {
    outline: none !important;
  }
  
  .main {
    padding: 0;
    margin: 90px 5% 90px 5%;
    width: 90%;
  }
  
  .table_view {
    margin-top: 30px;
    border-collapse: collapse;
    /* width: 100%; */
   }
  
  .table_view td, .table_view th {
    padding: 10px;
  }
  .table_view td{
    font-family: Montserrat-Light;
    font-size: 12px;
    width: 300px;
  }
  .table_view tr:nth-child(2n) {
    background: #E5E5E5;
  }
  .table_view td:last-of-type {
  width: auto;
  }
  
  
  @media screen and (max-width: 550px) {
  
    .main{
      margin: 70px 5px 70px 5px;
    }
  
    h3 {
      font-size: 14px;
    }
  
  
    .table_view {
      margin-top: 10px;
     }
    
    .table_view td{
      font-family: Montserrat-Light;
      font-size: 8px;
      width: 300px;
    }

  }
  