header {
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  top: 0;
  background-color: #F8F8F8;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-self: stretch;
  flex: auto;
}

.logo {
  margin: 0 0 0 5%;
  padding: 0;
  height: 100%;
  width: 300px;
}

.logo > img {
  margin: 5 0 5 0;
  padding: 0;
  height: 80%;
  background: none;
  cursor: pointer;
  border: none;
  background-repeat: no-repeat;
  background-position: bottom;
}
.user_go_out_block {
  width: 70%;
  margin: 0% 50px 0% 0%;
  height: 100%;
}

.go_out_button {
  float: right;
  cursor: pointer;
  background: none;
  border: none;
  height: 30px;
  width: 30px;
  margin: 10.0px 0%;
  padding: 0;
  background-image: url("../img/logout.svg");
  background-repeat: no-repeat;
  align-self: center;
  opacity: 0.5;
}
.go_out_button:hover {
  opacity: 1;
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@media screen and (max-width: 450px) {
  .menu > ul > li {
    font-size: 8px;
  }

  .go_out_button {
    height: 25px;
    width: 25px;
    margin: 12.5px 0%;
  }
  .logo > img {
    margin: 10px 0%;
    height: 60%;
 }
}
