@font-face {
  font-family: "Montserrat-Light";
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat-Medium";
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

body {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  color: rgb(58, 58, 58);
  padding: 0;
  align-self: center;
  font-family: Montserrat-Medium;
}

button:focus {
  outline: none !important;
}

.main {
  padding: 0;
  margin: 90px 5% 90px 5%;
  width: 90%;
}

.head_block {
  display: flex;
}

.head_block > input {
  display: block;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 1px solid #becad6;
  padding: 5px 5px 5px 5px;
  align-self: center;
  margin: 4px 5px 0 20px;
  width: 250px;
  font-family: Montserrat-Light;
  font-size: 14px;
  border-radius: 10px;
  outline: none;
}

.head_block > button{
  background-color: white;
  border: 1px solid white;
  /* box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 0.3); */
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin: 5px 0px 0px 0px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(190, 202, 214)' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
  background-position: center;
  background-size: 1.5rem;
}

.head_block > button:hover {
  background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(0, 173, 239)' class='bi bi-search' viewBox='0 0 16 16'><path d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/></svg>");
}

.table_view {
  margin-top: 30px;
  border-collapse: collapse;
  color: rgb(58, 58, 58);
  /* width: 100%; */
 }

.table_view td, .table_view th {
  padding: 10px;
}
.table_view td{
  font-family: Montserrat-Light;
  font-size: 12px;
  width: 300px;
}
.table_view th {
  font-family: Montserrat-Medium;
  text-align: left;
  font-size: 18px;
}
.table_view tr:nth-child(2n) {
  background: #E5E5E5;
}
.table_view td:last-of-type {
width: auto;
}

.detailed_button {
  height: 25px;
  border: 1px solid rgb(0, 173, 239);
  color: rgb(0, 173, 239);
  padding: 5px 5px 5px 5px;
  cursor: pointer;
  background: none;
  align-self: center;
  background-repeat: no-repeat;
  width: auto;
  margin: 0;
}

.detailed_button:hover {
  color: white;
  background: rgb(0, 173, 239);
}


@media screen and (max-width: 550px) {

  .main{
    margin: 70px 5px 70px 5px;
  }

  h2 {
    font-size: 14px;
  }
  .head_block > input{
    margin: 4px 5px 0 20px;
    width: 160px;
    font-size: 10px;
  }

  .head_block > button{
    width: 35px;
    height: 35px;
    background-size: 1.1rem;
  }

  .table_view {
    margin-top: 10px;
   }
  
  .table_view td{
    font-size: 8px;
    width: 300px;
  }
  .table_view th {
    font-size: 10px;
  }
  
  .detailed_button {
    height: 25px;
    border: 1px solid rgb(0, 173, 239);
    padding: 2px 2px 2px 2px;
    width: auto;
    font-size: 8px;
  }

}
